<h1>商品列表</h1>

<div class="pull-right">
  <%= link_to("增加商品", new_admin_product_path, class: "btn btn-primary btn-sm") %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <th width="220">商品图</th>
    <th>商品名称</th>
    <th>商品价格</th>
    <th>商品库存</th>
    <th>管理选项</th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb, class: "thumbnail") %>
            <% else %>
              <%= image_tag("https://ww1.sinaimg.cn/large/006tNc79gy1fdyy9beax0g30a00a0mx3.gif", width:"200", height: "200",class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to(product.title, admin_product_path(product)) %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td>
          <%= link_to("编缉", edit_admin_product_path(product), class: "btn btn-success btn-xs") %>
          <%= link_to("删除", admin_product_path(product), method: :delete, class: "btn btn-danger btn-xs") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
